body {
	background: url(https://upload.wikimedia.org/wikipedia/commons/b/bb/Beer_on_The_Beach.jpg) no-repeat center center fixed;
background-size: cover;
margin-left: 40%;
margin-right: 5%;
}


h1 {
		padding-top: 5%;
		font-family: 'Indie Flower', cursive;
		text-align: center;
		font-size: 50px;
		color: #E838C5;
		text-shadow: 3px 3px 0 #38E84C;
}

h2 {
		font-family: 'Indie Flower', cursive;
		text-align: center;
		font-size: 45px;
		color: #38E84C;
		text-shadow: 2px 2px 0 #000;
}

h3 {
		font-family: 'Orbitron', sans-serif;
		text-align: center;
		font-size: 60px;
		color: #000;
				}

.boxed {
	border: 5px solid black;
	border-radius: 10px;
	width: 200px;
	height: auto;
	padding-bottom: 5px;
	margin: auto;
		}

iframe {
	text-align: center;
	margin-left: 27%;
	}		

.main {
	margin-top: 10px;
}

li {
	text-align: center;
	list-style: none;
	font-size: 30px;
	font-style: italic;
}

.comments {
	margin-top: 20px;
	list-style: none;
}
